<a href="https://colab.research.google.com/github/venkatareddykonasani/jobs/blob/main/Python_interview_Questions_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Difference Between List, Tuple, Dictionary, Set, and Array


- **List:** Ordered, mutable collection of items. Allows duplicate elements.
- **Tuple:** Ordered, immutable collection of items. Allows duplicate elements.

- **Dictionary:** Unordered collection of key-value pairs. Keys must be unique.
- **Set:** Unordered collection of unique elements.
- **Array:** Ordered, mutable collection of items. More efficient for numerical operations.

In [ ]:
#List is mutable
my_list1 = [1, 2, 3, 4, 5]
my_list1[0] = 10
my_list1

[10, 2, 3, 4, 5]

In [ ]:
#Tuple is not mutable
my_tuple1 = (1, 2, 3, 4, 5)
my_tuple1[0] = 10
my_tuple1

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Dictionary is key value pairs
sample_dict = { "name": "John", "age": 30, "city": "New York"}
print(sample_dict["name"])

#This doesn't work
print(sample_dict[0])

John

KeyError: 0

In [ ]:
#set has no order
my_set = {1, 2, 3, 4, 5}
my_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#Arrays are used for numerical compuations
my_list1 = [1, 2, 3, 4, 5]
#Doesn't work well
print("my_list1*2", my_list1*2)

#Arrays are used for numerical compuations
import numpy as np
my_array = np.array([1, 2, 3, 4, 5])
#Doesn't work
print("my_array*2", my_array*2)

my_list1*2 [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
my_array*2 [ 2  4  6  8 10]


### 2 How to Read Excel/CSV in Pandas. How do you read a particular sheet from an excel file

**Reading Excel:**
```python
import pandas as pd
df_excel = pd.read_excel('file.xlsx')
```

**Reading CSV:**
```python
df_csv = pd.read_csv('file.csv')
```

In [ ]:
#World Bank Data/World Bank Indicators.xlsx
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/World%20Bank%20Data/World%20Bank%20Indicators.xlsx

--2024-07-07 09:21:45--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/World%20Bank%20Data/World%20Bank%20Indicators.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 275802 (269K) [application/octet-stream]
Saving to: ‘World Bank Indicators.xlsx’

World Bank Indicato 100%[===================>] 269.34K  --.-KB/s    in 0.02s

2024-07-07 09:21:46 (10.9 MB/s) - ‘World Bank Indicators.xlsx’ saved [275802/275802]

In [ ]:
#Sheet name = Regions and subregions

import pandas as pd
df = pd.read_excel('/content/World Bank Indicators.xlsx', sheet_name='Regions and subregions')
print(df.shape)

#Gets sheet-1 by Default
df = pd.read_excel('/content/World Bank Indicators.xlsx')
print(df.shape)

(234, 3)
(2354, 20)


### 3 During Importing I Need Only 100 Rows, What Function Will We Use

In [ ]:
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Dekho/car%20data.csv
import pandas as pd
df = pd.read_csv('/content/car data.csv', nrows=100)
print(df.info())

--2024-07-07 09:35:09--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Dekho/car%20data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17209 (17K) [text/plain]
Saving to: ‘car data.csv.6’

car data.csv.6      100%[===================>]  16.81K  --.-KB/s    in 0.001s

2024-07-07 09:35:09 (27.5 MB/s) - ‘car data.csv.6’ saved [17209/17209]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       100 non-null    object
 1   Year           100 non-null    int64
 2   Selling_Price  100 non-null    float64
 3   Present_Price  100 non-null    float64
 4   Kms_Driven     100 non-null    int64
 5   Fuel_Type      100 non-null    object
 6   Seller_Type    100 non-null    object
 7   Transmission   100 non-null    object
 8   Owner          100 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.2+ KB
None


### 4 What is `usecols` in Pandas

`usecols` is used to specify which columns to read from the file.

```python
df = pd.read_csv('file.csv', usecols=['column1', 'column2', 'column3'])
```

In [ ]:
df=pd.read_csv('/content/car data.csv', usecols=['Car_Name', 'Selling_Price'])
df.head()

  Car_Name  Selling_Price
0     ritz           3.35
1      sx4           4.75
2     ciaz           7.25
3  wagon r           2.85
4    swift           4.60


### 5 Types of Data Structure in Pandas and Python

- **Pandas:**
  - Series: One-dimensional labeled array.
  - DataFrame: Two-dimensional labeled data structure.

- **Python:**
  - List
  - Tuple
  - Dictionary
  - Set
  - Array

### 6 Why We Use Lambda Function?


Lambda functions are small anonymous functions defined using the `lambda` keyword. They are used for creating small, one-time, and inline function objects.

```python
add = lambda x, y: x + y
print(add(2, 3))  # Output: 5
```

In [ ]:
def summation(x,y):
  return x+y

summation(2,3)

5

In [ ]:
add=lambda x,y: x+y
add(2,3)

5



### 7 Merge Syntax in Pandas

```python
df_merged = pd.merge(df1, df2, on='key_column', how='inner')
```

In [ ]:
#Slots
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/TV%20Commercial%20Slots%20Analysis/slots.csv
#Orders
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/TV%20Commercial%20Slots%20Analysis/orders.csv

--2024-07-07 10:15:10--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/TV%20Commercial%20Slots%20Analysis/slots.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 239893 (234K) [text/plain]
Saving to: ‘slots.csv’

slots.csv           100%[===================>] 234.27K  --.-KB/s    in 0.03s

2024-07-07 10:15:11 (8.54 MB/s) - ‘slots.csv’ saved [239893/239893]

--2024-07-07 10:15:11--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/TV%20Commercial%20Slots%20Analysis/orders.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 121099 (118K) [text/plain]
Saving to: ‘orders.csv’

orders.csv          100%[===================>] 118.26K  --.-KB/s    in 0.02s

2024-07-07 10:15:11 (6.03 MB/s) - ‘orders.csv’ saved [121099/121099]

In [ ]:
orders = pd.read_csv('/content/orders.csv')
slots = pd.read_csv('/content/slots.csv')
print(orders.shape)
print(slots.shape)

#inner join
orders_slots = pd.merge(orders, slots, on='Unique_id', how='inner')
print(orders_slots.shape)

(1369, 9)
(1764, 17)
(8, 25)



### 8 How to Concatenate and Join in Pandas?


**Concatenate:**
```python
df_concat = pd.concat([df1, df2], axis=0)  # Concatenates along rows
df_concat = pd.concat([df1, df2], axis=1)  # Concatenates along columns
```

**Join:**
```python
df_joined = df1.join(df2, on='key_column', how='inner')
```

In [ ]:
#Train data
#Car_Accidents_IOT/train.csv
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Accidents_IOT/train.csv

#Test data
#Car_Accidents_IOT/test.csv
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Accidents_IOT/test.csv

--2024-07-07 10:19:05--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Accidents_IOT/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1622299 (1.5M) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]   1.55M  --.-KB/s    in 0.04s

2024-07-07 10:19:05 (34.8 MB/s) - ‘train.csv’ saved [1622299/1622299]

--2024-07-07 10:19:05--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Car_Accidents_IOT/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 973962 (951K) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>] 951.13K  --.-KB/s    in 0.05s

2024-07-07 10:19:06 (19.4 MB/s) - ‘test.csv’ saved [973962/973962]

In [ ]:
#read train and test data
train = pd.read_csv('/content/train.csv')
print(train.shape)
test = pd.read_csv('/content/test.csv')
print(test.shape)

#concat the datasets
df = pd.concat([train, test], ignore_index=True)
print(df.shape)

(24174, 23)



### 9 What is `inplace=True/False`? while droping a column in pandas datafarme?

In pandas, when you use the `drop` method to remove a column (or row) from a DataFrame, the parameter `inplace` specifies whether to perform the operation in place or to return a new DataFrame with the column (or row) removed. Here's what each option does:

- `inplace=True`: This modifies the original DataFrame directly, dropping the specified column (or row) without returning a new DataFrame. The operation is performed in place.

  ```python
  df.drop('column_name', axis=1, inplace=True)
  ```

- `inplace=False`: This is the default behavior. It returns a new DataFrame with the specified column (or row) dropped, leaving the original DataFrame unchanged.

  ```python
  new_df = df.drop('column_name', axis=1, inplace=False)
  # or simply
  new_df = df.drop('column_name', axis=1)
  ```

In [ ]:
slots = pd.read_csv('/content/slots.csv')
print(slots.info())
slots.drop('Product ID', axis=1, inplace=True)
print(slots.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unique_id             1764 non-null   object
 1   AD_ID                 1764 non-null   object
 2   Air Date              1764 non-null   object
 3   Air Time              1761 non-null   object
 4   Time Zone             1764 non-null   object
 5   Client Product Code   1764 non-null   object
 6   Product ID            1764 non-null   object
 7   Length                1764 non-null   int64
 8   Network ID            1764 non-null   object
 9   Network Name          1764 non-null   object
 10  Network Type          1761 non-null   object
 11  Network DMA           1747 non-null   object
 12  Network Feed          1325 non-null   object
 13  HH Impressions        1211 non-null   float64
 14  HH Ratings            1211 non-null   float64
 15  Spot Cost             1742 non-null   float64
 16  Spot Cost Discounted  1764 non-null   float64
dtypes: float64(4), int64(1), object(12)
memory usage: 234.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unique_id             1764 non-null   object
 1   AD_ID                 1764 non-null   object
 2   Air Date              1764 non-null   object
 3   Air Time              1761 non-null   object
 4   Time Zone             1764 non-null   object
 5   Client Product Code   1764 non-null   object
 6   Length                1764 non-null   int64
 7   Network ID            1764 non-null   object
 8   Network Name          1764 non-null   object
 9   Network Type          1761 non-null   object
 10  Network DMA           1747 non-null   object
 11  Network Feed          1325 non-null   object
 12  HH Impressions        1211 non-null   float64
 13  HH Ratings            1211 non-null   float64
 14  Spot Cost             1742 non-null   float64
 15  Spot Cost Discounted  1764 non-null   float64
dtypes: float64(4), int64(1), object(11)
memory usage: 220.6+ KB
None

In [ ]:
#Will not be dropped here
print(slots.info())
slots.drop('Spot Cost', axis=1, inplace=False)
print(slots.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unique_id             1764 non-null   object
 1   AD_ID                 1764 non-null   object
 2   Air Date              1764 non-null   object
 3   Air Time              1761 non-null   object
 4   Time Zone             1764 non-null   object
 5   Client Product Code   1764 non-null   object
 6   Length                1764 non-null   int64
 7   Network ID            1764 non-null   object
 8   Network Name          1764 non-null   object
 9   Network Type          1761 non-null   object
 10  Network DMA           1747 non-null   object
 11  Network Feed          1325 non-null   object
 12  HH Impressions        1211 non-null   float64
 13  HH Ratings            1211 non-null   float64
 14  Spot Cost             1742 non-null   float64
 15  Spot Cost Discounted  1764 non-null   float64
dtypes: float64(4), int64(1), object(11)
memory usage: 220.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unique_id             1764 non-null   object
 1   AD_ID                 1764 non-null   object
 2   Air Date              1764 non-null   object
 3   Air Time              1761 non-null   object
 4   Time Zone             1764 non-null   object
 5   Client Product Code   1764 non-null   object
 6   Length                1764 non-null   int64
 7   Network ID            1764 non-null   object
 8   Network Name          1764 non-null   object
 9   Network Type          1761 non-null   object
 10  Network DMA           1747 non-null   object
 11  Network Feed          1325 non-null   object
 12  HH Impressions        1211 non-null   float64
 13  HH Ratings            1211 non-null   float64
 14  Spot Cost             1742 non-null   float64
 15  Spot Cost Discounted  1764 non-null   float64
dtypes: float64(4), int64(1), object(11)
memory usage: 220.6+ KB
None



### 10 How to Remove Duplicates in Pandas?

To remove duplicates in pandas, you can use the `drop_duplicates` method. This method can be applied to a DataFrame to remove rows that are duplicates of other rows. Here are several ways to use `drop_duplicates`:

1. **Remove duplicate rows:**

   ```python
   df.drop_duplicates(inplace=True)
   ```

   This removes all rows that are identical to another row in the DataFrame.

2. **Remove duplicates based on specific columns:**

   ```python
   df.drop_duplicates(subset=['column_name'], inplace=True)
   ```

   This removes rows where the values in the specified column(s) are identical.

3. **Keep the first occurrence (default behavior):**

   ```python
   df.drop_duplicates(keep='first', inplace=True)
   ```

   This keeps the first occurrence of the duplicate row and removes the subsequent duplicates.

4. **Keep the last occurrence:**

   ```python
   df.drop_duplicates(keep='last', inplace=True)
   ```

   This keeps the last occurrence of the duplicate row and removes the preceding duplicates.

5. **Remove all duplicates:**

   ```python
   df.drop_duplicates(keep=False, inplace=True)
   ```

   This removes all rows that have duplicates, keeping none of the duplicate rows.

6. **Resetting the index after removing duplicates:**

   ```python
   df.drop_duplicates(inplace=True)
   df.reset_index(drop=True, inplace=True)
   ```

   This resets the index of the DataFrame after duplicates have been removed.

In [ ]:
#reviews data
#Product data
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Brazil_Ecom_Data/olist_products_dataset.csv

--2024-07-07 10:37:47--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Brazil_Ecom_Data/olist_products_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2379446 (2.3M) [text/plain]
Saving to: ‘olist_products_dataset.csv’

olist_products_data 100%[===================>]   2.27M  --.-KB/s    in 0.05s

2024-07-07 10:37:47 (45.6 MB/s) - ‘olist_products_dataset.csv’ saved [2379446/2379446]

In [ ]:
products = pd.read_csv('/content/olist_products_dataset.csv')
print(products.shape)
products.head()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [ ]:
#1. Remove duplicate rows:
print("Original Data", products.shape)
products1=products.drop_duplicates()
print("Remove duplicate rows:", products1.shape)

#2. Remove duplicates based on specific columns:
print("Original Data", products.shape)
products2=products.drop_duplicates(subset=['product_category_name'])
print("Remove duplicates based on specific columns:", products2.shape)

#3. Keep the first occurrence (default behavior):
print("Original Data", products.shape)
products3=products.drop_duplicates(subset=['product_category_name'],keep='first')
print("Keep the first occurrence:", products3.shape)

#4. Keep the last occurrence:
print("Original Data", products.shape)
products4=products.drop_duplicates(subset=['product_category_name'],keep='last')
print("Keep the last occurrence:", products4.shape)

#5. Remove all duplicates:
print("Original Data", products.shape)
products5=products.drop_duplicates(subset=['product_category_name',	'product_name_lenght'],keep=False)
print("Remove all duplicates:", products5.shape)

#6. Resetting the index after removing duplicates:
print("Without Resetting Index", products5.head())
products6=products.drop_duplicates(subset=['product_category_name',	'product_name_lenght'],keep=False)
products6.reset_index(drop=True, inplace=True)
print("After Resetting Index", products6.head())

Original Data (32951, 9)
Remove duplicate rows: (32951, 9)
Original Data (32951, 9)
Remove duplicates based on specific columns: (74, 9)
Original Data (32951, 9)
Keep the first occurrence: (74, 9)
Original Data (32951, 9)
Keep the last occurrence: (74, 9)
Original Data (32951, 9)
Remove all duplicates: (538, 9)
Without Resetting Index                            product_id   product_category_name  \
123  f17b05cc8a7651896df8c30884200e9a            climatizacao
233  aedb7e30007f6051c5b3f97156b0848a                   artes
267  6b75ce117b8fcc75289cb6cbe589de6c          telefonia_fixa
397  8b6a57fbcf171e0a44f97af7af858939  informatica_acessorios
487  1c36a5285f7f3b1ed2637d7c528ce5ff        malas_acessorios

     product_name_lenght  product_description_lenght  product_photos_qty  \
123                 30.0                       547.0                 1.0
233                 32.0                       195.0                 1.0
267                 27.0                      1217.0                 1.0
397                 18.0                       389.0                 2.0
487                 21.0                       769.0                 4.0

     product_weight_g  product_length_cm  product_height_cm  product_width_cm
123            2000.0               32.0               51.0              16.0
233             150.0               25.0                2.0              19.0
267             455.0               36.0               18.0              27.0
397             617.0               17.0               14.0              17.0
487            1600.0               55.0               37.0              30.0
After Resetting Index                          product_id   product_category_name  \
0  f17b05cc8a7651896df8c30884200e9a            climatizacao
1  aedb7e30007f6051c5b3f97156b0848a                   artes
2  6b75ce117b8fcc75289cb6cbe589de6c          telefonia_fixa
3  8b6a57fbcf171e0a44f97af7af858939  informatica_acessorios
4  1c36a5285f7f3b1ed2637d7c528ce5ff        malas_acessorios

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 30.0                       547.0                 1.0
1                 32.0                       195.0                 1.0
2                 27.0                      1217.0                 1.0
3                 18.0                       389.0                 2.0
4                 21.0                       769.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0            2000.0               32.0               51.0              16.0
1             150.0               25.0                2.0              19.0
2             455.0               36.0               18.0              27.0
3             617.0               17.0               14.0              17.0
4            1600.0               55.0               37.0              30.0

# 11.How to Identify Duplicates in Pandas?

In [ ]:
#use the duplicated() method to identify duplicates in a DataFrame.
duplicates=products.duplicated()
print(duplicates)
print(sum(duplicates))

#Duplicates by columns
duplicates1=products.duplicated(subset=['product_category_name',	'product_name_lenght'])
print(duplicates1)
print(sum(duplicates1))

0        False
1        False
2        False
3        False
4        False
         ...
32946    False
32947    False
32948    False
32949    False
32950    False
Length: 32951, dtype: bool
0
0        False
1        False
2        False
3        False
4        False
         ...
32946     True
32947     True
32948     True
32949     True
32950     True
Length: 32951, dtype: bool
30710

# 12.What is the apply Method in Pandas?

The `apply` method in pandas is a powerful tool used to apply a function along an axis of the DataFrame or Series. It can be used to perform operations on rows or columns, depending on the specified axis. Here's an overview of how to use it:

### Basic Usage

#### For a DataFrame

- **Apply function to each column:** This is the default behavior (axis=0).
  ```python
  df.apply(func)
  ```

- **Apply function to each row:** Set axis=1.
  ```python
  df.apply(func, axis=1)
  ```

#### For a Series

- **Apply function to each element:**
  ```python
  series.apply(func)
  ```

### Examples

1. **Applying a Function to Each Column:**
   ```python
   import pandas as pd

   df = pd.DataFrame({
       'A': [1, 2, 3, 4],
       'B': [10, 20, 30, 40]
   })

   def square(x):
       return x * x

   df = df.apply(square)
   print(df)
   ```
   Output:
   ```
       A    B
   0   1  100
   1   4  400
   2   9  900
   3  16 1600
   ```

2. **Applying a Function to Each Row:**
   ```python
   def sum_row(row):
       return row.sum()

   row_sums = df.apply(sum_row, axis=1)
   print(row_sums)
   ```
   Output:
   ```
   0    11
   1    24
   2    39
   3    56
   dtype: int64
   ```

3. **Applying a Lambda Function:**
   ```python
   df = df.apply(lambda x: x + 10)
   print(df)
   ```
   Output:
   ```
       A   B
   0  11 110
   1  14 120
   2  19 130
   3  26 140
   ```

### Key Points

- **Function can be any callable:** The function can be a lambda function, a defined function, or even built-in functions.
- **Returning DataFrame or Series:** Depending on the function applied, the result can be a DataFrame, Series, or even a scalar.
- **Axis parameter:**
  - `axis=0` (default): Apply function to each column.
  - `axis=1`: Apply function to each row.

The `apply` method is highly versatile and is often used for data transformation, aggregation, and complex calculations on DataFrames and Series.

In [ ]:
#Apply function to find the first five charecters of product_id
#Without str
#products['product_id_code1'] = products['product_category_name'].apply(lambda x: x[0:5])
#print(products.head())

#After Trying str
products['product_id_code1'] = products['product_category_name'].apply(lambda x: str(x)[0:5])
print(products.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm  \
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

  product_id_code1
0            perfu
1            artes
2            espor
3            bebes
4            utili

#13 What is the Meaning of axis=0 and axis=1?

axis=0 refers to operations along the rows (i.e., down the rows).

axis=1 refers to operations along the columns (i.e., across the columns).

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
 9   product_id_code1            32951 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.5+ MB

In [ ]:
#drop rows
print("Before",products.shape)
products1=products.drop(range(0,10))
print("After",products1.shape)

#drop columns
print("Before",products.shape)
products1=products.drop(["product_length_cm","product_width_cm"], axis=1)
print("After",products1.shape)

Before (32951, 10)
After (32941, 10)
Before (32951, 10)
After (32951, 8)

# 14.Significance of 0 and 1?

Same as above answer

0 typically means row-wise operation (downward).

1 typically means column-wise operation (across).

#15.How to Find Null Values in Pandas?

You can use the isnull() method to find null values.

In [ ]:
#olist reviews data
!wget https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Brazil_Ecom_Data/olist_order_reviews_dataset.csv

--2024-07-07 11:42:21--  https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Brazil_Ecom_Data/olist_order_reviews_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14409007 (14M) [text/plain]
Saving to: ‘olist_order_reviews_dataset.csv.3’

olist_order_reviews 100%[===================>]  13.74M  --.-KB/s    in 0.08s

2024-07-07 11:42:21 (177 MB/s) - ‘olist_order_reviews_dataset.csv.3’ saved [14409007/14409007]

In [ ]:
reviews= pd.read_csv('/content/olist_order_reviews_dataset.csv')
print(reviews.shape)
reviews.head()

(100000, 7)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [ ]:
#Null Values
all_nulls= reviews.isnull().sum()
print(all_nulls)

#Nulls in a column
one_col_nulls= reviews['review_comment_message'].isnull().sum()
print(one_col_nulls)

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64
58247

#16.Change Data Type in Column

You can change the data type of a column using the astype() method.

In [ ]:
print(reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

In [ ]:
#astype() category
reviews['review_score_string']= reviews['review_score'].astype('category')
print(reviews.info())
print(reviews.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
 7   review_score_string      100000 non-null  category
dtypes: category(1), int64(1), object(6)
memory usage: 5.4+ MB
None
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp review_score_string
0     2018-01-18 21:46:59                   4
1     2018-03-11 03:05:13                   5
2     2018-02-18 14:36:24                   5
3     2017-04-21 22:02:06                   5
4     2018-03-02 10:26:53                   5

#17.Types of Arguments in Python

Positional arguments

Keyword arguments

Default arguments

Variable-length arguments

In Python, function arguments can be categorized into several types based on how they are passed to functions and how they are used. Here are the main types of arguments in Python:

1. **Positional Arguments:**
   - These are the most common type of arguments. The values are passed to the function in the order they are defined.
   ```python
   def greet(name, age):
       print(f"Hello, my name is {name} and I am {age} years old.")

   greet('Alice', 30)
   ```

2. **Keyword Arguments:**
   - These arguments are passed to the function by explicitly specifying the name of the parameter.
   ```python
   greet(age=30, name='Alice')
   ```

3. **Default Arguments:**
   - These are arguments that assume a default value if a value is not provided in the function call.
   ```python
   def greet(name, age=25):
       print(f"Hello, my name is {name} and I am {age} years old.")

   greet('Alice')  # age will default to 25
   greet('Bob', 30)  # age is overridden to 30
   ```

4. **Variable-Length Arguments:**
   - These allow a function to accept an arbitrary number of arguments.

   - **Arbitrary Positional Arguments (`*args`):**
     - These are used to pass a variable number of positional arguments to a function.
     ```python
     def greet(*names):
         for name in names:
             print(f"Hello, {name}!")

     greet('Alice', 'Bob', 'Charlie')
     ```

 ### Ignore from here

   - **Arbitrary Keyword Arguments (`**kwargs`):**
     - These are used to pass a variable number of keyword arguments to a function.
     ```python
     def greet(**info):
         for key, value in info.items():
             print(f"{key}: {value}")

     greet(name='Alice', age=30, city='New York')
     ```

5. **Positional-Only Arguments:**
   - These are arguments that can only be passed by position. They are defined using a `/` in the function signature.
   ```python
   def greet(name, /, age):
       print(f"Hello, my name is {name} and I am {age} years old.")

   greet('Alice', 30)  # Valid
   greet(name='Alice', age=30)  # Error
   ```

6. **Keyword-Only Arguments:**
   - These are arguments that can only be passed by keyword. They are defined using a `*` in the function signature.
   ```python
   def greet(*, name, age):
       print(f"Hello, my name is {name} and I am {age} years old.")

   greet(name='Alice', age=30)  # Valid
   greet('Alice', 30)  # Error
   ```

7. **Combined Positional and Keyword Arguments:**
   - You can combine all the above types of arguments in a single function definition.
   ```python
   def greet(name, /, age, *, city='Unknown'):
       print(f"Hello, my name is {name}, I am {age} years old, and I live in {city}.")

   greet('Alice', 30, city='New York')
   ```

In [ ]:
#1. **Positional Arguments:**
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

greet('Alice', 30)
greet(30, 'Raju')

Hello, my name is Alice and I am 30 years old.
Hello, my name is 30 and I am Raju years old.

In [ ]:
#2. **Keyword Arguments:**
greet(age=30, name='Alice')

Hello, my name is Alice and I am 30 years old.

In [ ]:
#3. **Default Arguments:**
#print("Before ", greet('Alice'))#This doesn't work

#After
def greet(name, age=25):
  print(f"Hello, my name is {name} and I am {age} years old.")

greet('Alice')
greet('BOB', 10)

Hello, my name is Alice and I am 25 years old.
Hello, my name is BOB and I am 10 years old.

In [ ]:
#4.**Variable-Length Arguments:**
#- These allow a function to accept an arbitrary number of arguments.

def greet(*names):
    for name in names:
        print(f"Hello, {name}!")

greet('Alice', 'Bob', 'Charlie')

Hello, Alice!
Hello, Bob!
Hello, Charlie!

#18.Replace Null Values in Python

You can use the fillna() method to replace null values.

In [ ]:
#Nulls in a column
one_col_nulls= reviews['review_comment_message'].isnull().sum()
print(one_col_nulls)

58247

In [ ]:
reviews["review_comment_message"].fillna("No Comment", inplace=True)
one_col_nulls= reviews['review_comment_message'].isnull().sum()
print(one_col_nulls)

0

# 19 Removing Leading and Trailing Space

You can use the strip() method for strings or str.strip() in pandas.

In [ ]:
s = '  Hello, World!  '
print(s)
print(s.strip())

  Hello, World!
Hello, World!

#20 What is Positive Slicing/Indexing and Negative Slicing/Indexing?

In [ ]:
#Positive Slicing/Indexing: Access elements from the beginning to the end of a sequence.
lst = [0, 1, 2, 3, 4]
print(lst[1:4])

[1, 2, 3]

In [ ]:
#Negative Slicing/Indexing: Access elements from the end towards the beginning of a sequence.
print(lst[-1])
print(lst[-4:-1])

4
[1, 2, 3]

#21 What is iloc and loc?

In [ ]:
#iloc: Accesses DataFrame elements by integer-location based indexing.

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)
print(df.iloc[0, 0])  # Output: 4
print(df.iloc[2, 0])  # Output: 4

   A  B
0  1  4
1  2  5
2  3  6
1
3

In [ ]:
#loc: Accesses DataFrame elements by label-based indexing.
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.loc[0, 'B'])  # Output: 4
print(df.loc[2, 'A'])

4
3

#22.How to Remove Leading and Trailing Spaces in Pandas?

In [ ]:
#You can use the str.strip() method.
df = pd.DataFrame({'A': ['  a', 'b  ', '  c  ']})
print(df)
df['A'] = df['A'].str.strip()
print(df)

       A
0      a
1    b
2    c
   A
0  a
1  b
2  c

# 23.Explain the use of the describe() function in pandas.

In [ ]:
'''The describe() function provides summary statistics of the
DataFrame’s numerical columns.
 It includes measures like mean, standard deviation, minimum,
 and maximum values.
'''

slots.describe()

,Length,HH Impressions,HH Ratings,Spot Cost,Spot Cost Discounted
count,1764.000000,1211.000000,1211.000000,1742.000000,1764.000000
mean,80.102041,225.033031,0.194377,122.623995,115.039938
std,28.328172,588.504563,0.508290,338.594250,319.912732
min,60.000000,0.000000,0.000000,0.000000,0.000000
25%,60.000000,74.000000,0.060000,20.000000,19.000000
50%,60.000000,140.000000,0.120000,50.000000,47.500000
75%,120.000000,234.000000,0.200000,100.000000,95.000000
max,120.000000,18418.000000,15.910000,5800.000000,5510.000000